<div class="page-header">
  <h1>Reminders</h1>
</div>


 <div class="tabbable"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
     <li class="active"><a href="#tab1" data-toggle="tab">Morning</a></li>
     <li><a href="#tab2" data-toggle="tab">Midday</a></li>
     <li><a href="#tab3" data-toggle="tab">Afternoon</a></li>
     <li><a href="#tab4" data-toggle="tab">Evening</a></li>
   </ul>
   <div class="tab-content">

     <div class="tab-pane active" id="tab1"> <!-- morning -->
       <ul class="nav nav-tabs nav-stacked">
        <% @morning_reminders.each do |f| %>
            <li>
            <%= f.medication.name %>, (<%= f.medication.dosage %>)
              <% if f.taken = true %>
                #something
              <% else %>
                <%= button_to "Take?", medication_reminder_path(f.medication,f),method: :put,remote: true  %>
              <% end %>
            </li>
        <% end %>
       </ul>
     </div>

   </div>

     <p><%= link_to "Add a New Medication + Reminder!",new_medication_path, class:"btn btn-primary" %></p>


 </div>
