<h1>Primary Index Page</h1>


 <div class="tabbable"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
     <li class="active"><a href="#tab1" data-toggle="tab">Morning</a></li>
     <li><a href="#tab2" data-toggle="tab">Midday</a></li>
     <li><a href="#tab3" data-toggle="tab">Afternoon</a></li>
     <li><a href="#tab4" data-toggle="tab">Evening</a></li>
   </ul>
   <div class="tab-content">

     <div class="tab-pane active" id="tab1"> <!-- morning -->
       <ul class="nav nav-tabs nav-stacked">
          <li>

        name: <%= @morning_medication.name  %>, dose(mg): <%= @morning_medication.dosage %>
        <div class="btn primary"> Taken? </div>
        
          </li>
       </ul>
     </div>

   </div>

     <p><%= link_to "Add a New Medication + Reminder!",new_medication_path %></p>


 </div>
