
	<div class="row show_page">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					About ReMed4Me<small>   your medication reminder app</small>
				</h1>
			</div>
      <span class="glyphicon glyphicon-plus"></span>
			<h2>
				Our Mission
			</h2>
			<p>
				No one who takes medication should feel like they're on their own. Our mission is to give people the tools, support and information they need to take their medications the way they're supposed to. ReMed4Me gives them and the people who care about them complete peace of mind.	</p>
			<p>

			</p>
      <span class="glyphicon glyphicon-check"></span>
			<h2>
				How do I use it?
			</h2>
			<p>
				It's just so easy! just sign-up/sign-in and just place in your name and email and enter the medication name and what time during the day you would like to take the medication and ReMed4Me will take care of the rest of it for you!
      </p>
			<p>

			</p>
      <span class="glyphicon glyphicon-grain"></span>
			<h2>
				Founders Story
			</h2>
			<p>
				When Eddie and Max's father accidentally took an extra dose of insulin putting him a dire situation, the brothers quickly learned how common their frightful experience was. With only 50% of patients correctly following their regimen and non-adherence causing a death every 4 minutes in the U.S. alone, they knew they had to act. The result? ReMed4Me	</p>
			<p>

			</p>
		</div>
</div>
